*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background: #02245efe;
    width: 260px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    float: left;
    flex-direction: column;
}

.sidebar a{
    text-decoration: none;
}

/* .header{
    background-color: red;
} */

.header .deskripsi-header{
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    /* background: red; */
}

.list-item img{
    width: 35px;
    float: left;
    margin-top: -8px;
    
}

.icon{
    width: 20px;
    padding-right: 10px;
}

/* .list{
    margin: 23px 0px 10px 0px;
} */

.main{
    margin-top: 30px;

}

.main a{
    color: white;
    margin-left: 10px;
}

.main .dash{
    margin-bottom: 20px;
    color: white;
}

.main .list-dash{
    border: 1.5px solid white;
    border-radius: 20px;
    padding: 9px 50px 9px 10px; 
    margin: 20px -10px 10px -10px;
    box-sizing: border-box;
}

.list-dash a {
    display: flex;
    align-items: center;
}

.list-dash:hover{
    background: rgb(91, 91, 91);
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}



