* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: Poppins, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 7.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, #02245E 23%, #02245E 48%, #4669B3 100%);
}

.navbar .menu {
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.158);
}

.navbar .menu a {
    padding: 20px;
    color: #ffffff7e;
    font-weight: 530;
    font-size: 14px;
}

.menu a.active {
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.navbar .menu a:hover {
    color: #ffffff;
}

.navbar .logo {
    margin-bottom: 10px;
}

.logo img {
    width: 60px;
    float: left;
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    float: left;
    margin-top: 20px;
}

.navbar .masuk {
    margin-right: 40px;
}

.navbar .masuk a {
    color: #02245E;
    padding: 8px 30px;
    background: #fffffffe;
    border-radius: 20px;
    font-weight: bold;
}

.navbar .masuk a:hover {
    background: #0b399c;
    color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.masuk-mobile {
    display: none;
}

.masuk-dekstop {
    display: block;
}

/* Akhir Nav */


/* Layanan Notaris */
.container-layanan {
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    background: #4669b315;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.konten-layanan {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-layanan h3 {
    color: #02245E;
    font-size: 25px;
    margin-bottom: 10px;
}

.pembuatan {
    display: flex;
    background: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    width: 30%;
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.pembuatan p {
    margin: auto;
    text-align: center;
    font-weight: 550;
    color: #02245E;
    font-size: 17px;
}

/* Akhir Layanan Notaris */



.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 10001;
    margin-right: 20px;
}

@media (max-width: 980px) {
    .navbar {
        padding: 5px 15px;
    }

    .logo img {
        width: 45px;
        margin-left: 10px;
    }

    .logo a {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .navbar .menu a {
        padding: 10px;
        font-size: 0.8rem;
    }

    .navbar .menu {
        padding: 0.3rem;
    }

    .navbar .masuk a {
        padding: 6px 15px;
        font-size: 0.8rem;
    }
}

/* HP */

@media (max-width: 576px) {

    /* Navbar */
    .navbar {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1px 8px;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0;
    }

    .logo img {
        width: 45px;
        margin-left: 0;
    }

    .logo a {
        font-size: 16px;
        margin-bottom: 14px;
        margin-left: 0;
    }

    .menu.show {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #02245E;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px 0;
    }

    .menu a {
        padding: 12px 20px;
        width: 100%;
        text-align: left;
        color: white;
    }

    .hamburger {
        display: block;
        color: white;
        cursor: pointer;
    }

    .masuk-dekstop {
        display: none;
    }

    .masuk-mobile {
        display: block;
    }

    /* Layanan Notaris */
    .container-layanan {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .konten-layanan .pembuatan{
        width: 40%;
    }

    .konten-layanan .pembuatan p{
        font-size: 13px;
    }
}
