* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: Poppins, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 7.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, #02245E 23%, #02245E 48%, #4669B3 100%);
}

.navbar .menu {
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.6rem;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.158);
}

.navbar .menu a {
    padding: 20px;
    color: #ffffff7e;
    font-weight: 530;
    font-size: 0.9rem;
}

.menu a.active {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar .menu a:hover {
    color: #ffffff;
}

.navbar .logo {
    margin-bottom: 10px;
}

.logo img {
    width: 60px;
    float: left;
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    float: left;
    margin-top: 20px;
}

.navbar .masuk {
    margin-right: 2rem;
}

.navbar .masuk a {
    color: #02245E;
    padding: 8px 30px;
    background: #fffffffe;
    border-radius: 20px;
    font-weight: bold;
}

.navbar .masuk a:hover {
    background: #0b399c;
    color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.masuk-mobile {
    display: none;
}

.masuk-dekstop {
    display: block;
}

/* Akhir Nav */


/* Hal Utama */
.layar-penuh {
    width: 100%;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    z-index: 1;
    /* biar tampil di atas video */
}

.intro h2 {
    font-size: 35px;
}

.intro p {
    font-size: 17px;
    margin-top: 15px;
    max-width: 800px;
}



/* Kenali Kami */
.container-kenali {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    margin: 80px 0;
}

.gambar {
    padding: 50px;
    flex: 1.4;
    display: flex;
    justify-content: center;
}

.gambar img {
    width: 390px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.kata-gambar {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 2.6;
    justify-content: center;
    font-size: 1rem;
    padding-right: 50px;
}

.kata-gambar p {
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.kata-gambar h3 {
    font-size: 25px;
    font-weight: bold;
    color: #1e3a8a;
    margin-bottom: 20px;
}

.list-check {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 25px;
    margin-top: 20px;
    max-width: 800px;
}

.list-check i {
    color: #1e3a8a;
    line-height: 1.3;
}

.list-check p {
    flex: 45%;
    font-size: 19px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    text-align: justify;
    font-family: Poppins, sans-serif;
    line-height: 1.2;
}

.kenali-kami {
    width: 100%;
}

.kenali-kami .tbl-kenali {
    border: 1.5px solid #1e3a8a;
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 25px;
    color: #1e3a8a;
    font-size: 1.1rem;
    font-weight: bold;
}

.kenali-kami .tbl-kenali:hover {
    background: #0b399c;
    color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Akhir Kenali */


/* Rumah */
.container-rumah {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #02245E, #4669B3);
    box-sizing: border-box;
}

.gambar-rumah {
    width: 60%;
    height: auto;
    overflow: hidden;
}

.gambar-rumah img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-rumah .isi-rumah {
    margin-right: 20px;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
}

.container-rumah .isi-rumah h3 {
    width: 100%;
    color: white;
    padding: 10px 20px 10px 30px;
    font-size: 30px;
    margin-top: 20px;
}

.container-rumah .konten-rumah {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #02245E, #4669B3);
    box-shadow: -7px 0 10px rgba(123, 123, 123, 0.39);
}

.container-rumah .jalan {
    background: rgb(255, 255, 255);
    border-radius: 25px;
    margin-left: 20px;
    padding: 20px 30px 35px 10px;
}

.container-rumah p {
    margin-left: 20px;
}

.container-rumah .jalan .desa {
    font-size: 13px;
    margin-left: 45px;
}

.jadwal {
    background: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 25px;
    width: fit-content;
    font-size: 13px;
    margin: 20px 0 30px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jadwal table {
    border-collapse: collapse;
    width: 100%;
}

.jadwal td {
    padding: 4px 10px;
}

.tutup {
    color: red;
    font-weight: bold;
    text-align: right;
}

/* Akhir Rumah */



/* Layanan Kami */
.layanan-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.layanan {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    padding: 20px;
    width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Poppins;
    margin-bottom: 100px;
    color: #02245E;
}

.layanan:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to bottom, #4669B3, #1E2D4D);
    transition: all 0.3s ease;
    color: white;
}

.gambar-layanan {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.gambar-layanan:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.layanan h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.layanan p {
    font-size: 0.95rem;
    text-align: center;
}

.judul-layanan {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 35px;
    color: #1e3a8a;
}

/* Akhir Layanan Kami */


/* footer */
.container-footer {
    width: 100%;
    height: 270px;
    background: #02245efe;
    display: flex;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
}

.footer ul li {
    list-style: none;
}

.footer.kiri {
    margin-left: 50px;
    margin-top: 50px;
}

.footer.tengah {
    margin-right: 400px;
}

.map {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}


/* Kerja Sama */
.title {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-size: 23px;  
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.links img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    gap: 30px;
    object-fit: cover;
}


/* humberger */
.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 10001;
    margin-right: 20px;
}

@media (max-width: 980px) {
    .navbar {
        padding: 5px 15px;
    }

    .logo img {
        width: 45px;
        margin-left: 10px;
    }

    .logo a {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .navbar .menu a {
        padding: 10px;
        font-size: 0.8rem;
    }

    .navbar .menu {
        padding: 0.3rem;
    }

    .navbar .masuk a {
        padding: 6px 15px;
        font-size: 0.8rem;
    }
}

/* HP */
@media (max-width: 576px) {
    div {
        overflow: hidden;
    }

    .map {
        margin-left: 35px;
    }

    /* Navbar */
    .navbar {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1px 8px;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0;
    }

    .logo img {
        width: 45px;
        margin-left: 0;
    }

    .logo a {
        font-size: 16px;
        margin-bottom: 14px;
        margin-left: 0;
    }

    .menu.show {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: linear-gradient(to left, #02245E 23%, #02245E 48%, #4669B3 100%);
        margin-top: 9px;
        margin-bottom: 20px;
        border-radius: 10px;

    }

    .menu a {
        padding: 12px 20px;
        width: 100%;
        text-align: left;
        color: white;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
        color: white;
        cursor: pointer;
    }

    .masuk-dekstop {
        display: none;
    }

    .masuk-mobile {
        display: block;
    }

    /* Hal Utama */
    .intro {
        font-size: 1.2rem;
        width: 100%;
    }

    .intro h2 {
        font-size: 20px;
    }

    .intro p {
        font-size: 14px;
    }

    /* Kenali Kami */
    .container-kenali {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .gambar img {
        width: 100%;
        margin: 20px 0;
    }

    .kata-gambar {
        transform: translatex(6%);
    }

    .kata-gambar h3 {
        font-size: 22px;
        padding: 10px 20px;
        margin: 0;
    }

    .kata-gambar p {
        font-size: 15px;
        margin: 0;
    }

    .list-check p {
        flex: 100%;
        font-size: 15px;
        margin: 0;
        text-align: left;
    }

    .kenali-kami {
        margin-top: 15px;
        padding: 20px;
    }

    .kenali-kami .tbl-kenali {
        padding: 8px 20px;
        font-size: 14px;

    }

    /* Rumah */
    .container-rumah {
        flex-direction: column;
    }

    .gambar-rumah {
        width: 100%;
    }

    .container-rumah .jalan {
        background: rgb(255, 255, 255);
        width: 300px;
    }

    .container-rumah .jalan p {
        font-size: 13px;
        text-align: center;
    }

    .container-rumah .jadwal {
        width: 320px;
    }

    .container-rumah .jalan .desa {
        font-size: 11px;
    }


    /* Layanan */
    .layanan-container {
        flex-direction: column;
        align-items: center;
    }

    .layanan {
        width: 90%;
        font-size: 14px;
        margin: 0;
    }

    .layanan h3 {
        font-size: 18px;
    }

    .layanan p {
        font-size: 14px;
    }

    /* Footer */
    .footer.tengah,
    .footer.kanan {
        display: none;
    }

    .footer.kiri {
        margin: auto;
    }
}