* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: Poppins, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 7.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, #02245E 23%, #02245E 48%, #4669B3 100%);
}

.navbar .menu {
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.158);
}

.navbar .menu a {
    padding: 20px;
    color: #ffffff7e;
    font-weight: 530;
    font-size: 14px;
}

.menu a.active {
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.navbar .menu a:hover {
    color: #ffffff;
}

.navbar .logo {
    margin-bottom: 10px;
}

.logo img {
    width: 60px;
    float: left;
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    float: left;
    margin-top: 20px;
}

.navbar .masuk {
    margin-right: 40px;
}

.navbar .masuk a {
    color: #02245E;
    padding: 8px 30px;
    background: #fffffffe;
    border-radius: 20px;
    font-weight: bold;
}

.navbar .masuk a:hover {
    background: #0b399c;
    color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.navbar.navbar-transparent {
    background: transparent;
    box-shadow: none;
}

.navbar.scrolled {
    background: linear-gradient(to left, #02245E 23%, #02245E 48%, #4669B3 100%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.masuk-mobile {
    display: none;
}

.masuk-dekstop {
    display: block;
}

/* Akhir Nav */



/* Tentang Kami */
.container-tentang {
    padding: 150px 20px 150px 20px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #02245E 73%, #4669B3 100%);
    display: flex;
    color: white;
    height: 100vh;
    box-shadow: 0 300px 300px -30px #4669b342;
    position: relative;
    z-index: 1;
}

.main-tentang {
    width: 100%;
    display: flex;
}

.container-tentang .gambar {
    flex: 0.35;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tentang .desc-tentang {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 25px;
    justify-content: center;
}

.container-tentang .desc-tentang h3 {
    font-size: 30px;

}

/* Akhiran Tentang Kami */




/* Profil Ketua */
.container-profil {
    width: 100%;
    height: 650px;
    background-image: url('/img/bgketua.jpg');
    background-size: cover;
    display: flex;
    position: relative;
}

.judul-ketua {
    font-size: 24px;
    display: flex;
    height: 50px;
    top: 13rem;
    left: 43%;
    translate: translateX(-43%);
    color: white;
    position: absolute;
}

.profil-ketua {
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    width: 900px;
    height: 500px;
    display: flex;
    margin: 300px auto 250px auto;
    overflow: hidden;
}

.profil-teks {
    text-align: left;
    color: #000000;
    font-size: 15px;
    background: white;
    flex: 2;
    padding: 40px 30px 40px 30px;
}

.gambar-ketua {
    background: linear-gradient(to bottom, #4669B3 1%, #02245E 100%);
    flex: 2;
}

.gambar-ketua img {
    width: 100%;
    margin-top: -50px;
}

/* Akhiran Profil Ketua */




/* Kenapa Memilih Kami */
.container-kenapa {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 600px;
}

.gambar-kenapa img {
    width: 400px;
    margin-left: 70px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.gambar-kenapa {
    background-image: url('/img/kenapa.jpg');
    flex: 1.65;
    background-size: cover;
}

.judul-kenapa {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
}

.judul-kenapa {
    flex: 2;
}

.judul-kenapa p {
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.judul-kenapa h3 {
    font-size: 25px;
    font-weight: bold;
    color: #1e3a8a;
    margin-bottom: 12px;
}

.list-check {
    margin-top: 8px;
    max-width: 800px;
}

.list-check i {
    color: #1e3a8a;
    line-height: 1.3;
}

.list-check p {
    flex: 45%;
    font-size: 19px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    text-align: justify;
    font-family: Poppins, sans-serif;
    line-height: 1.2;
}

/* Akhiran Kenapa Memilih K */


/* Tim */
.container-tim {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background: linear-gradient(to bottom, #02245E 50%, #4669B3 100%);
    box-sizing: border-box;
}

.konten-tim {
    border-radius: 9px;
    gap: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Poppins;
    color: #02245E;
    display: flex;
    margin-top: 90px;
}

.tim {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.557);
    border-radius: 20px;
    padding: 20px;
    width: 220px;
    height: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Poppins;
    margin-bottom: 100px;
    margin-top: 79px;
    color: #02245E;
    overflow: hidden;
}

.gambar-tima {
    width: 235px;
    height: 330px;
    margin-top: -19px;
    margin-left: -35px;
    object-fit: cover;
    border-radius: 5px;
}

.gambar-timb {
    width: 300px;
    height: 330px;
    margin-top: -30px;
    margin-left: -58px;
    object-fit: cover;
    border-radius: 5px;
}

.container-tim .text {
    color: white;
    position: absolute;
    text-align: center;
    margin-top: 70px;
}

.container-tim .text h3 {
    color: white;
    font-size: 28px;
}



/* Akhir Tim */


.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 10001;
    margin-right: 20px;
}


@media (min-width: 577px) and (max-width: 980px) {
    .navbar {
        padding: 5px 15px;
    }

    .logo img {
        width: 45px;
        margin-left: 10px;
    }

    .logo a {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .navbar .menu a {
        padding: 10px;
        font-size: 0.8rem;
    }

    .navbar .menu {
        padding: 0.3rem;
    }

    .navbar .masuk a {
        padding: 6px 15px;
        font-size: 0.8rem;
    }
}

/* HP */
@media (max-width: 576px) {
    div {
        overflow: hidden;
    }

    /* Navbar */
    .navbar {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1px 8px;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0;
    }

    .logo img {
        width: 45px;
        margin-left: 0;
    }

    .logo a {
        font-size: 16px;
        margin-bottom: 14px;
        margin-left: 0;
    }

    .menu.show {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #02245E;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px 0;
    }

    .menu a {
        padding: 12px 20px;
        width: 100%;
        text-align: left;
        color: white;
    }

    .hamburger {
        display: block;
        color: white;
        cursor: pointer;
    }

    .masuk-dekstop {
        display: none;
    }

    .masuk-mobile {
        display: block;
    }

    /* Tentang */
    .container-tentang {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }

    .main-tentang {
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        margin-top: -50px;
    }

    .main-tentang .gambar img {
        width: 70%;
    }

    .main-tentang .desc-tentang {
        width: 100%;
        margin-right: 25px;
        text-align: center;
        font-size: 12px;
    }

    .main-tentang .desc-tentang h3 {
        font-size: 20px;
    }


    /* Profile */
    .container-profil {
        width: 100%;
    }

    .profil-ketua {
        width: 100%;
        justify-content: center;
    }

    .profil-teks {
        padding: 15px;
        font-size: 9px;
        width: 100%;
    }

    .gambar-ketua img {
        width: 100%;
        margin-top: 110px;
        margin-left: 3px;
    }

    .judul-ketua {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 5px 10px;
        font-size: 15px;
        z-index: 10;
    }


    /* KENAPA */
    .container-kenapa{
        display: flex;
        flex-direction: column;
        background: rgb(255, 255, 255);
        margin: 0;
    }

    .judul-kenapa{
        padding: 12px;
        font-size: 10px;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .judul-kenapa h3{
        font-size: 16px;
        margin-top: 10px;
    }

    .judul-kenapa p{
        font-size: 12px;
    }

    .container-kenapa .list-check{
        margin-top: 0;
    }
    /* TIM */

    .konten-tim{
        display: flex;
        flex-direction: column;
        padding-top: 50px;

    }
    .konten-tim .tim.dua{
        margin-top: -150px;
    }
    .container-tim .text h3{
        font-size: 25px;
    }
    .container-tim .text p{
        font-size: 16px;
        padding: 0 20px;
    }
}
